body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: fit-content;
  background-color: rgb(9, 9, 159);
}

header
{
    background-color: rgb(28, 28, 229); 
    height: 95px;
    border-radius: 15px;
}


h1
{
    margin: 15px;
    padding: 13px;
    font-size: 50px;
    text-align: left;
    color: orange;
}

.history-part
{
    height: auto;
    max-width: max-content;
    border: 1px solid blue;
    margin: 20px 3px 20px 3px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

.recent-history
{
    height: auto;
    max-width: max-content;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

nav
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    margin: 40px 20px 40px 40px;
}

nav a
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: orange;
}

nav a:hover
{
    background-color: black;
    border-radius: 25px;
}

footer
{
    clear: both ;
    text-align: center;
    color: white;
}

@media screen and (max-width: 480px)
{

body 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: max-content;
  background-color: rgb(9, 9, 159);
}

header
{
    height: 95px;
    border-radius: 15px;
    background-color: rgb(9, 9, 159);;
}

h1
{
    font-size: 50px;
    text-align: left;
    color: orange;
    margin-top: 90px;
}

.history-part
{
    height: auto;
    max-width: fit-content;
    border: 1px solid blue;
    margin: 20px 7px 10px 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

.recent-history
{
    height: auto;
    max-width: max-content;
    border: 1px solid blue;
    margin: 20px 7px 10px 5px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;

}

nav
{
    top: 0;
    left: 0;
    position: absolute;
    margin: 25px 10px 10px 12px;
    background-color: blue;
    height: 25px;
    padding-top: 10px;
    border-radius: 10px;
    max-width: fit-content;
}

nav a
{
    text-decoration: none;
    padding: 5px;
    color: orange;
    font-size: 10px;
    margin: 4px;
}

nav a:hover
{
    background-color: black;
    border-radius: 25px;
}

footer
{
    clear: both ;
    text-align: center;
    color: white;
    margin: 10px auto 0px auto;
}

}


