
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: fit-content;
  background-color: rgb(9, 9, 159);
}

header
{
    background-color: rgb(28, 28, 229); 
    height: 120px;
    border-radius: 15px;
}

.header-part
{
   height: min-content;
   width: auto; 
   color: orange;
}

.header-part img
{
    height: 90px;
    width: 90px;
    float: left;
    margin-right: 10px;
}

.header-part h1
{
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-size: 40px;
}

.header-part p
{
    margin: 0px 5px 5px 0px;
    float: left;
}

nav
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    margin: 40px;
}

nav a
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: orange;
}

nav a:hover
{
    background-color: black;
    border-radius: 25px;
}

.para-part
{
    clear: both;
    margin: 20px;
    padding: 10px;
    max-width: 570px;
    float: left;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

.msn
{
    height: 300px;
    width: 570px;
    margin-top: 23px;
    border-radius: 20px;
}

.amsn
{
    clear: both;
    margin: 10px 5px 10px 20px;
    height: 290px;
    width: 520px;
    float: left;
    border-radius: 20px;
}

.briefly
{
    float: right;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border: 1px solid blue;
    width: auto;
    height: 280px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

footer
{
    clear: both ;
    text-align: center;
    color: white;
}


@media screen and (max-width: 480px) 
{

body 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: max-content;
  background-color: rgb(9, 9, 159);
}    

header
{
    background-color: rgb(28, 28, 229); 
    height: 95px;
    border-radius: 15px;
}
  
.header-part
{
   height: min-content;
   width: auto; 
   color: orange;
}

.header-part img
{
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 10px;
}

.header-part h1
{
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-size: 25px;
}

.header-part p
{
    margin: 0px 5px 5px 5px;
    float: left;
}

nav
{
    position: relative;
    margin: 50px 0px 10px 20px;
    max-width: 900px;
}

nav a
{
    text-decoration: none;
    padding: 5px;
    color: yellow;
    font-size: 12px;
}

nav a:hover
{
    background-color: black;
    border-radius: 25px;
}

.para-part
{
    clear: both;
    margin: 10px 5px 10px 5px;
    padding: 10px;
    max-width: 580px;
    float: left;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

.msn
{
    height: 230px;
    width: 340px;
    margin: 10px 5px 10px 3px;
    border-radius: 20px;
}

.amsn
{
    clear: both;
    height: 230px;
    width: 340px;
    margin: 10px 5px 10px 3px;
    border-radius: 20px;
}

.briefly
{
    float: right;
    margin: 10px 5px 15px 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid blue;
    max-width: 580px;
    height: 380px;
    border-radius: 20px;
    background-color: rgb(28, 28, 229);
    color: yellow;
}

footer
{
    clear: both ;
    text-align: center;
    color: white;
}
}




